@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  overflow: auto;
  background-color: white;
}
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  border: 1px grey solid;
  padding: 0px 1.8em;
}
.icons {
  width: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}
.words-tab {
  margin: 2em;
}
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  background: rgb(252, 220, 220, 0.4);
  padding: 0.5em 1em;
  border-radius: 5px;
  min-height: 70px;
}
.ellipsis {
  height: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:aqua;
}

.view_word {
  margin: 2em;
}
.view_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.view_button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
